*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:Playfair Display;
}
.nav ul {
        display: flex;
    padding-top: 10px;
    margin-right: 20px;
    list-style: none;
    
}
li :hover{
   text-decoration: line-through;
}
li a{
    font-size: 25px;
    text-decoration: none;
    margin: 20px;
    color: black;
    font-weight: 400;
}
.logo{
    display: flex;
    margin-left: 10px;
    font-size: 50px; 
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    
}
.quote{
    padding-top: 10px;
    text-align: center;
    font-size: 50px ;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1); 
    font-family: 'Pacifico', cursive;
}

.album2{
    padding-top: 15px;
    display: grid;
   gap: 500px;    grid-template-columns: 1fr 1fr   ;
    
    text-align: center;
    font-size: 30px;
}

.album1{
    padding-top: 15px;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr  ;
    text-align: center;
    font-size: 30px;
}


.first img{
    width: 450px;
    margin-left: 15px;
    object-position: center;
    font-family: 'Playfair Display', serif;
    box-shadow: 1px 1px 1px 1px ;
    
}
.second img{
    width: 450px;
    margin-left: 10px;
    object-position: center;
     box-shadow: 1px 1px 1px 1px ;
}
.three img{
    width: 450px;
    /* height: 500px; */
    object-position: center;
     box-shadow: 1px 1px 1px 1px ;
}

.first:hover{
    text-decoration: underline;
}
.second:hover{
    text-decoration: underline;
}
.three:hover{
    text-decoration: underline;
}
.vista {
    font-family: 'Pacifico', cursive;
}